<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

	{% block stylesheets %} 
		<link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('assets/css/defaultstyles.css') }}" type="text/css" rel="stylesheet" />
		<link href="{{ asset('assets/flag-icons/flag-css.min.css') }}" type="text/css" rel="stylesheet" />
	{% endblock %}
	{% block javascripts %}
		<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
		<script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
	{% endblock %}
    <title>{% block title %}Factura Symfony{% endblock %}</title>

</head>

<body>

	{% include '::topnav.html.twig' %}

	<div class="container content">
		{% block content %}
		{% endblock %}
	</div>

	<script type="text/javascript">
		{% for js in app.session.flashbag.get('javascript') %}
		{% autoescape false %}{{ js }}{% endautoescape %}
		{% endfor %}
	</script>
</body>
</html>